<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>
	  <th:block th:if="${param.id} eq 0">新</th:block>
	  <th:block th:if="${param.id} ne 0">修改</th:block>
	  用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="${APP_PATH }/static/layui/css/layui.css" th:href="@{/static/layui/css/layui.css}">
	<link rel="stylesheet" href="${APP_PATH }/static/mycss/style.css" th:href="@{/static/mycss/style.css}">
</head>
<style>
.contPadding{
	padding-top: 20px;
	width: 350px;
}

</style>
<body class="contPadding">
<span th:id="formUrl" style="display: none;" th:text="${Surl}"></span>
	<form class="layui-form" id="form" action="" commandName="obj" lay-filter="formFilter">
	 <div class="layui-form-item" style="display: none;">
    	<label class="layui-form-label">id</label>
    	<div class="layui-input-block">
      		<input type="text" name="adminId" lay-verify="adminId" th:value="${admin} eq null ? '' : ${admin.adminId}" id="adminId" class="layui-input" value='${admin.id }'>
    	</div>
     </div>
	 <div class="layui-form-item">
    	<label class="layui-form-label">账号</label>
    	<div class="layui-input-block">
      		<input type="text" name="adminAccount" id="adminAccount" th:value="${admin} eq null ? '' : ${admin.adminAccount}" lay-verify="adminAccount" autocomplete="off" placeholder="请输入账号" class="layui-input" value='${admin.account}'>
    	</div>
     </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">密码</label>
	    <div class="layui-input-block">
	      <input type="text"  id="adminPassWord" name="adminPassWord" th:value="${admin} eq null ? '' : ${admin.adminPassWord}" lay-verify="adminPassWord" autocomplete="off" placeholder="请输入密码" class="layui-input" value="${admin.password}">
	    </div>
	  </div>
     <div class="layui-form-item">
	    <label class="layui-form-label">用户姓名</label>
	    <div class="layui-input-block">
	      <input type="text" id="adminFullName" name="adminFullName" th:value="${admin} eq null ? '' : ${admin.adminFullName}" lay-verify="adminFullName" autocomplete="off" placeholder="请输入姓名" class="layui-input" value="${admin.fullName}">
	    </div>
	  </div>
	  
	  <button class="layui-btn" lay-submit lay-filter="submmitFilter" style="display: none;" id="sunmitbtn"></button>
	</form>
	     
	<!-- JS -->
	<script src="${APP_PATH }/static/layui/layui.js" th:src="@{/static/layui/layui.js}"></script>
	<script src="${APP_PATH }/static/jquery/1.9.1/jquery.min.js" th:src="@{/static/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:inline="none">
	
	var parentIndex;
	layui.use(['form'], function(){
		  var form = layui.form
		  ,layer = layui.layer
		  /* //监听开关
		  form.on('switch(stateFilter)',function(data){
			  	if(data.elem.checked){
			  		$("#state").val(0);
			  	}else{
			  		$("#state").val(1);
			  	}
		  }) */
		  //表单验证
		  form.verify({
			  adminAccount: function(value, item){ //value：表单的值、item：表单的DOM对象
				value = $.trim(value);
			  	if(value.length == 0){
			  		return '用户名不能为空';
			  	}
			  	if(value.length > 20){
			  		return '用户名长度不能大于20个字'
			  	}
			    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
			      return '用户名不能有特殊字符';
			    }
			  },
			  adminPassWord: function(value, item){ //value：表单的值、item：表单的DOM对象
					value = $.trim(value);
				  	if(value.length == 0){
				  		return '密码不能为空';
				  	}
			  },
			  adminFullName: function(value, item){ //value：表单的值、item：表单的DOM对象
					value = $.trim(value);
				  	if(value.length == 0){
				  		return '姓名不能为空';
				  	}
				  	if(value.length > 15){
				  		return '名字长度不能超过15字'
				  	}
				    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
					      return '名字不能有特殊字符';
					  }
			}
			  
		  });
		  //监听提交
		  form.on('submit(submmitFilter)', function(data){
			  $.ajax({
					url: $("#formUrl").text(),
					type: 'POST',
					data: $("#form").serialize(),
					async:false,
					success: function(result){
						var code = result.code;
		    			var type = result.type;
		    			if(code =='2'){
		    				layer.msg('登录名已经存在', {
				    			  icon: 5
				    			  ,time: 1500
				    		});
		    				return ;
		    			}
		    			if(code == '1'){
		    				if(type == 'add'){
		    					layer.msg('添加成功', {
		    		    			  icon: 6
		    		    			  ,time: 1500
		    		    		});
		    				}
		    				if(type == 'update'){
		    					layer.msg('修改成功', {
		    		    			  icon: 6
		    		    			  ,time: 1500
		    		    		});
		    				}
		    				setTimeout(function(){
		    					parent.conditionReset();
		    					parent.layer.close(parentIndex);
		    				}, 1500);
		    			}
		    		},
		    		error: function() {
		    			layer.msg('提交失败', {
			    			  icon: 5
			    			  ,time: 1500
			    		});
		    		}
		    	});
			    return false; 
		  });
		  
	});
	//模拟按钮提交 
	function submitForm(index){
		parentIndex = index;
		$("#sunmitbtn").click();
	}
	
	</script>

</body>
</html>