<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.dao.H5helpCenterMapper">
  <resultMap id="BaseResultMap" type="com.py.bean.H5helpCenter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ask" jdbcType="VARCHAR" property="ask" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ask, answer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h5help_center
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h5help_center
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.py.bean.H5helpCenter">
    insert into h5help_center (id, ask, answer
      )
    values (#{id,jdbcType=INTEGER}, #{ask,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.py.bean.H5helpCenter">
    insert into h5help_center
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ask != null">
        ask,
      </if>
      <if test="answer != null">
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ask != null">
        #{ask,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.bean.H5helpCenter">
    update h5help_center
    <set>
      <if test="ask != null">
        ask = #{ask,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.bean.H5helpCenter">
    update h5help_center
    set ask = #{ask,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.py.bean.H5helpCenter">

    select * from h5help_center where 1=1
    <if test="ask != null">
      and ask = #{ask,jdbcType=VARCHAR}
    </if>
    <if test="answer != null">
      and answer = #{answer,jdbcType=VARCHAR}
    </if>

  </select>


</mapper>