<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.dao.H5indexInfoMapper">
  <resultMap id="BaseResultMap" type="com.py.bean.H5indexInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logo_img" jdbcType="VARCHAR" property="logoImg" />
    <result column="banner_img" jdbcType="VARCHAR" property="bannerImg" />
    <result column="process_img" jdbcType="VARCHAR" property="processImg" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="company_postcode" jdbcType="VARCHAR" property="companyPostcode" />
    <result column="company_fax" jdbcType="VARCHAR" property="companyFax" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="center_img" jdbcType="VARCHAR" property="centerImg" />
    <result column="center_title" jdbcType="VARCHAR" property="centerTitle" />
    <result column="center_value" jdbcType="VARCHAR" property="centerValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, logo_img, banner_img, process_img, company_name, company_address, company_phone, 
    company_postcode, company_fax, param1, param2, center_img, center_title, center_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h5index_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h5index_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.py.bean.H5indexInfo">
    insert into h5index_info (id, logo_img, banner_img, 
      process_img, company_name, company_address, 
      company_phone, company_postcode, company_fax, 
      param1, param2, center_img, 
      center_title, center_value)
    values (#{id,jdbcType=INTEGER}, #{logoImg,jdbcType=VARCHAR}, #{bannerImg,jdbcType=VARCHAR}, 
      #{processImg,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, 
      #{companyPhone,jdbcType=VARCHAR}, #{companyPostcode,jdbcType=VARCHAR}, #{companyFax,jdbcType=VARCHAR}, 
      #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{centerImg,jdbcType=VARCHAR}, 
      #{centerTitle,jdbcType=VARCHAR}, #{centerValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.py.bean.H5indexInfo">
    insert into h5index_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logoImg != null">
        logo_img,
      </if>
      <if test="bannerImg != null">
        banner_img,
      </if>
      <if test="processImg != null">
        process_img,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="companyPhone != null">
        company_phone,
      </if>
      <if test="companyPostcode != null">
        company_postcode,
      </if>
      <if test="companyFax != null">
        company_fax,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
      <if test="centerImg != null">
        center_img,
      </if>
      <if test="centerTitle != null">
        center_title,
      </if>
      <if test="centerValue != null">
        center_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logoImg != null">
        #{logoImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerImg != null">
        #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="processImg != null">
        #{processImg,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null">
        #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="companyPostcode != null">
        #{companyPostcode,jdbcType=VARCHAR},
      </if>
      <if test="companyFax != null">
        #{companyFax,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="centerImg != null">
        #{centerImg,jdbcType=VARCHAR},
      </if>
      <if test="centerTitle != null">
        #{centerTitle,jdbcType=VARCHAR},
      </if>
      <if test="centerValue != null">
        #{centerValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.bean.H5indexInfo">
    update h5index_info
    <set>
      <if test="logoImg != null">
        logo_img = #{logoImg,jdbcType=VARCHAR},
      </if>
      <if test="bannerImg != null">
        banner_img = #{bannerImg,jdbcType=VARCHAR},
      </if>
      <if test="processImg != null">
        process_img = #{processImg,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null">
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="companyPostcode != null">
        company_postcode = #{companyPostcode,jdbcType=VARCHAR},
      </if>
      <if test="companyFax != null">
        company_fax = #{companyFax,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="centerImg != null">
        center_img = #{centerImg,jdbcType=VARCHAR},
      </if>
      <if test="centerTitle != null">
        center_title = #{centerTitle,jdbcType=VARCHAR},
      </if>
      <if test="centerValue != null">
        center_value = #{centerValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.bean.H5indexInfo">
    update h5index_info
    set logo_img = #{logoImg,jdbcType=VARCHAR},
      banner_img = #{bannerImg,jdbcType=VARCHAR},
      process_img = #{processImg,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      company_postcode = #{companyPostcode,jdbcType=VARCHAR},
      company_fax = #{companyFax,jdbcType=VARCHAR},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      center_img = #{centerImg,jdbcType=VARCHAR},
      center_title = #{centerTitle,jdbcType=VARCHAR},
      center_value = #{centerValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--selectByPrimary-->
  <select id="selectByPrimary" parameterType="com.py.bean.H5indexInfo" resultMap="BaseResultMap">
    SELECT * from h5index_info where 1=1
    <if test="companyName != null">
      and company_name = #{companyName,jdbcType=VARCHAR}
    </if>
    <if test="companyAddress != null">
      and company_address = #{companyAddress,jdbcType=VARCHAR}
    </if>
    <if test="companyPhone != null">
      and company_phone = #{companyPhone,jdbcType=VARCHAR}
    </if>
    <if test="companyPostcode != null">
      and company_postcode = #{companyPostcode,jdbcType=VARCHAR}
    </if>
    <if test="companyFax != null">
      and company_fax = #{companyFax,jdbcType=VARCHAR}
    </if>
    <if test="param1 != null">
      and param1 = #{param1,jdbcType=VARCHAR}
    </if>
    <if test="param2 != null">
      and param2 = #{param2,jdbcType=VARCHAR}
    </if>
  </select>


  <!--selectByExample-->
  <select id="selectByExample" parameterType="com.py.bean.H5indexInfo" resultMap="BaseResultMap">
    SELECT * from h5index_info where 1=1
    <if test="companyName != null">
      and company_name = #{companyName,jdbcType=VARCHAR}
    </if>
    <if test="companyAddress != null">
      and company_address = #{companyAddress,jdbcType=VARCHAR}
    </if>
    <if test="companyPhone != null">
      and company_phone = #{companyPhone,jdbcType=VARCHAR}
    </if>
    <if test="companyPostcode != null">
      and company_postcode = #{companyPostcode,jdbcType=VARCHAR}
    </if>
    <if test="companyFax != null">
      and company_fax = #{companyFax,jdbcType=VARCHAR}
    </if>
    <if test="param1 != null">
      and param1 = #{param1,jdbcType=VARCHAR}
    </if>
    <if test="param2 != null">
      and param2 = #{param2,jdbcType=VARCHAR}
    </if>
  </select>


</mapper>