<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.dao.H5newsInfoMapper">
  <resultMap id="BaseResultMap" type="com.py.bean.H5newsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
  </resultMap>
  <sql id="Base_Column_List">
    id, img, title, value, param1
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h5news_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h5news_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.py.bean.H5newsInfo">
    insert into h5news_info (id, img, title, 
      value, param1)
    values (#{id,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.py.bean.H5newsInfo">
    insert into h5news_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="param1 != null">
        param1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.bean.H5newsInfo">
    update h5news_info
    <set>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.bean.H5newsInfo">
    update h5news_info
    set img = #{img,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      param1 = #{param1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimary" resultMap="BaseResultMap" parameterType="com.py.bean.H5newsInfo">

    select  * from h5news_info where 1=1
    <if test="title != null">
      and title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="value != null">
      and `value` = #{value,jdbcType=VARCHAR}
    </if>

  </select>

  <!--selectByExample-->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.py.bean.H5newsInfo">

    select  * from h5news_info where 1=1
    <if test="title != null">
      and title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="value != null">
      and `value` = #{value,jdbcType=VARCHAR}
    </if>

  </select>


</mapper>