<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.dao.UserNeedMapper">
  <resultMap id="BaseResultMap" type="com.py.bean.UserNeed">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="demand_id" jdbcType="INTEGER" property="demandId" />
    <result column="label_type" jdbcType="INTEGER" property="labelType" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, value, time, demand_id, label_type, label_name, user_id, param1, param2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_need
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_need
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.py.bean.UserNeed">
    insert into user_need (id, name, value, 
      time, demand_id, label_type, 
      label_name, user_id, param1, 
      param2)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{demandId,jdbcType=INTEGER}, #{labelType,jdbcType=INTEGER}, 
      #{labelName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{param1,jdbcType=VARCHAR}, 
      #{param2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.py.bean.UserNeed">
    insert into user_need
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="demandId != null">
        demand_id,
      </if>
      <if test="labelType != null">
        label_type,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="param1 != null">
        param1,
      </if>
      <if test="param2 != null">
        param2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="demandId != null">
        #{demandId,jdbcType=INTEGER},
      </if>
      <if test="labelType != null">
        #{labelType,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="param1 != null">
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        #{param2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.bean.UserNeed">
    update user_need
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="demandId != null">
        demand_id = #{demandId,jdbcType=INTEGER},
      </if>
      <if test="labelType != null">
        label_type = #{labelType,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="param1 != null">
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null">
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.bean.UserNeed">
    update user_need
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      demand_id = #{demandId,jdbcType=INTEGER},
      label_type = #{labelType,jdbcType=INTEGER},
      label_name = #{labelName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--selectByExample-->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.py.bean.UserNeed">
    select * from user_need where 1=1
    <if test="name != null">
      and `name` = #{name,jdbcType=VARCHAR}
    </if>
    <if test="value != null">
      and `value` = #{value,jdbcType=VARCHAR}
    </if>
    <if test="time != null">
      and `time` = #{time,jdbcType=TIMESTAMP}
    </if>
    <if test="demandId != null">
      and demand_id = #{demandId,jdbcType=INTEGER}
    </if>
    <if test="labelType != null">
      and label_type = #{labelType,jdbcType=INTEGER}
    </if>
    <if test="labelName != null">
      and label_name = #{labelName,jdbcType=VARCHAR}
    </if>
    <if test="userId != null">
      and user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="param1 != null">
      and param1 = #{param1,jdbcType=VARCHAR}
    </if>
    <if test="param2 != null">
      and param2 = #{param2,jdbcType=VARCHAR}
    </if>
  </select>


</mapper>