<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.py.dao.UserNeedUserNeedInfoMapper">
  <resultMap id="BaseResultMap" type="com.py.bean.UserNeedUserNeedInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_need_id" jdbcType="INTEGER" property="userNeedId" />
    <result column="user_need_info_id" jdbcType="INTEGER" property="userNeedInfoId" />
    <result column="param" jdbcType="VARCHAR" property="param" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_need_id, user_need_info_id, param
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_need_user_need_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_need_user_need_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.py.bean.UserNeedUserNeedInfo">
    insert into user_need_user_need_info (id, user_need_id, user_need_info_id, 
      param)
    values (#{id,jdbcType=INTEGER}, #{userNeedId,jdbcType=INTEGER}, #{userNeedInfoId,jdbcType=INTEGER}, 
      #{param,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.py.bean.UserNeedUserNeedInfo">
    insert into user_need_user_need_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userNeedId != null">
        user_need_id,
      </if>
      <if test="userNeedInfoId != null">
        user_need_info_id,
      </if>
      <if test="param != null">
        param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userNeedId != null">
        #{userNeedId,jdbcType=INTEGER},
      </if>
      <if test="userNeedInfoId != null">
        #{userNeedInfoId,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.bean.UserNeedUserNeedInfo">
    update user_need_user_need_info
    <set>
      <if test="userNeedId != null">
        user_need_id = #{userNeedId,jdbcType=INTEGER},
      </if>
      <if test="userNeedInfoId != null">
        user_need_info_id = #{userNeedInfoId,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.bean.UserNeedUserNeedInfo">
    update user_need_user_need_info
    set user_need_id = #{userNeedId,jdbcType=INTEGER},
      user_need_info_id = #{userNeedInfoId,jdbcType=INTEGER},
      param = #{param,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--根据需求信息id删除-->
  <delete id="deleteByUserNeedId" parameterType="java.lang.Integer">
    delete from user_need_user_need_info
    where user_need_info_id = #{userNeedInfoId,jdbcType=INTEGER}
  </delete>


</mapper>